{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
  <h3>Aplikacja chat pokoje</h3>
  <div>
    <label>Imie:</label>
    <input
      type="text"
      placeholder="Wybierz imie!"
      name="name"
      value="{{name}}"
    />
  </div>
  <div class="join">
    <input type="text" placeholder="Kod pokoju" name="code" value="{{code}}" />
    <button type="submit" name="join">Dolacz do pokoju</button>
  </div>
  <button type="submit" name="create" class="create-btn">Utworz pokoj</button>
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>
{% endblock %}
